ADF/pipeline/BatchProcessinADLA.json
{
	"name": "BatchProcessinADLA",
	"properties": {
		"activities": [
			{
				"name": "SetCurrentDateFolder",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "CurrentDate",
					"value": {
						"value": "@concat(pipeline().parameters.BaseADLSPath,'/',formatDateTime(utcnow(), 'yyyyMMdd'),'/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyRefDataDevices",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetCurrentDateFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureBlobRefData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataLakeRefData",
						"type": "DatasetReference",
						"parameters": {
							"Dir": {
								"value": "@variables('CurrentDate')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ProcessData",
				"type": "DataLakeAnalyticsU-SQL",
				"dependsOn": [
					{
						"activity": "CopyRefDataDevices",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"scriptPath": "demo/scripts/DailyStats.usql",
					"degreeOfParallelism": 2,
					"scriptLinkedService": {
						"referenceName": "ADLS_ADW",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "ADLA_ADW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoadSalesInfoIntoOnPremiseData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ProcessData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureDataLakeStoreSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"preCopyScript": "TRUNCATE TABLE dbo.SaleInfoFact"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Date": "Date",
							"SerialNumber": "Device",
							"Lat": "DeviceLat",
							"Lon": "DeviceLon",
							"ProductName": "ProductName",
							"Quantity": "Quantity",
							"Price": "Price",
							"TotalValue": "TotalValue"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureDataLake_SalesInfoFact",
						"type": "DatasetReference",
						"parameters": {
							"DirName": "/demo/results/",
							"FileName": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd'),'_Sales.csv')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerSMDW_SaleInfoFact",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"BaseADLSPath": {
				"type": "String",
				"defaultValue": "/demo/refdata"
			}
		},
		"variables": {
			"CurrentDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BatchProcessingADLA"
		}
	}
}