ADF/pipeline/BatchProcessinADLA.json
{
	"name": "BatchProcessinADLA",
	"properties": {
		"activities": [
			{
				"name": "SetCurrentDateFolder",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "CurrentDate",
					"value": {
						"value": "@concat(pipeline().parameters.BaseADLSPath,'/',formatDateTime(utcnow(), 'yyyyMMdd'),'/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyRefDataDevices",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetCurrentDateFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureBlobRefData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataLakeRefData",
						"type": "DatasetReference",
						"parameters": {
							"Dir": {
								"value": "@variables('CurrentDate')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "U-SQL1",
				"type": "DataLakeAnalyticsU-SQL",
				"dependsOn": [
					{
						"activity": "CopyRefDataDevices",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"scriptPath": "demo/scripts/DailyStats.usql",
					"scriptLinkedService": {
						"referenceName": "ADLS_ADW",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "ADLA_ADW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"BaseADLSPath": {
				"type": "String",
				"defaultValue": "/demo/refdata"
			}
		},
		"variables": {
			"CurrentDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BatchProcessingADLA"
		}
	}
}